{% extends "base.html" %}

{% block title %}{% trans %}Imprint {% endtrans %}{% endblock %}

{% block body %}

<div id="imprint" class="docs-section container">
  <h2><a class="headline-link" href="#imprint">{% trans %}Imprint / Impressum{% endtrans %}</a></h2>

  <div class="imprint-grid">
    <div class="imprint-box">

      <p><strong>Mixxx e.V.</strong><br>
      Am Reisenbrook 49d<br>
      22359 Hamburg<br>
      Germany</p>

      <p><strong>Represented by/Vertreten durch (§ 26 BGB):</strong><br>
      Owen Williams (Chairperson/Vorsitzender)<br>
      Jörg Wartenberg (Second Chairperson/Zweiter Vorsitzender)<br>
      Daniel Schürmann (Treasurer/Schatzmeister)</p>


      <p><strong>Contact/Kontakt</strong><br>
      E-Mail: <a href="mailto:press@mixxx.org">press@mixxx.org</a><br>

      <p><strong>Registration/Registereintrag:</strong><br>
      Vereinsregister des Amtsgerichts Hamburg: VR 25977</p>

      <p><strong>Tax Number/Steuernummer:</strong><br>
      17/452/15773<br>
      Nonprofit Association/Gemeinnütziger Verein</p>

      <p><strong>Disclaimer/Haftungsausschluss:</strong><br>
      Although we carefully check external content, we cannot assume liability for the content of external links. Responsibility for linked pages rests solely with their operators.<br>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für Inhalte externer Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
      </p>
    </div>
  </div>
</div>

{% endblock %}
